.slider {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
}

.items {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.prev,
.next {
    position: absolute;
    top: 250px;
    color: white;
    font-size: 4rem;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.active {
    display: block;
}

.title-text {
    position: absolute;
    bottom: 30px;
    left: 300px;
    color: white;
    right: 30px;
}

.row-thumb {
    height: 100px;
}

.row-thumb img {
    height: 100%;
}

.row-thumb>* {
    height: 100%;
}